@font-face {
    font-family: Caveat;
    src: url(/Users/kovvalvvanya/Library/Fonts/Caveat.ttf);
}

@font-face {
    font-family: Exo2;
    src: url(/Users/kovvalvvanya/Library/Fonts/Exo2.ttf);
}
@font-face {
    font-family: Comfortaa;
    src: url(/Users/kovvalvvanya/Library/Fonts/Comfortaa.ttf);
}

p:first-letter{
    
    font-size: 45px;
    background-color: hsla(275, 100%, 10%, 1);
    color: #ffffff;
    font-style: bold;
}

p{
    text-indent: 25px;
}

h1{
    font-family: Caveat;
    font-size: 45px;
    font-style: bold;
    text-align: center;
    text-transform: capitalize;    
}

h2{
    line-height: 200%;
    font-family: Exo2;
    margin-bottom: 1.2em;
    margin-top: 0.2rem;    
    text-indent: 25px;
}

#first{
    margin-top: 0;
    margin-bottom: 0;
    font-family: Comfortaa;
    line-height: 0px;
}
ol li {
    list-style-type: none;
    counter-increment: list; 
    }
ol li:before {
    content: counter(list, upper-roman) ".";
    color: #0000ff;
}
