@keyframes bright {
    0%{color: aqua; filter: opacity(80%)}
    25%{filter: opacity(20%)}
    50%{filter: opacity(40%)}
    75%{filter: opacity(20%)}
    100%{filter: opacity(0%)}
}

div{
    animation-name: bright;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    text-align: center;
    font-size: 30px;
    
}

figure{
    display: block;
    float: left;
}

figure img{
    height: 150px;
}

.zero:hover{
    transform-origin: 0,0;
    transform: rotateX(45deg);
}

.first:hover{
    transform: rotateY(45deg);
}
.second:hover{
    transform: rotateX(45deg);
}

.third:hover{
    perspective:right;
    transform: rotateY(45deg);
}