@keyframes bright {
    0%{color: aqua; filter: opacity(80%)}
    25%{filter: opacity(20%)}
    50%{filter: opacity(40%)}
    75%{filter: opacity(20%)}
    100%{filter: opacity(0%)}
}
 
  @keyframes razvorot-img1 {
    0% {left: 0%;
    }
    100%{
      left: 300px;
      transform: none ;
    }
  }
  @keyframes razvorot-img2 {
      0%{
          left:-160px;
      }
      50%{
          left:150px;
          transform: rotateX(0);
          filter: none;
      }
      100%{
          filter: blur(10px);
          left: 300px;
          transform: none;
      }
      
  }
  @keyframes razvorot-img3 {
      0%{
          left: -310px;
      }
      50%{
          left:0px ;
          transform:rotateX(0);
          filter: none;
      }
      100%{
          left: 300px;
          transform: none;
          filter: grayscale(1);
      }
      
  }
  @keyframes razvorot-img4 {
      0%{
          left: -460px;
      }
      50%{
          left:-150px;
          transform: rotateX(0);
          filter: none;
      }
      100%{
          left: 300px;
          transform: none;
          filter:invert(1);
      }
  }
  
  img {
    width: 200px;
    height: 200px;
    transform: perspective(800px) rotateY(70deg);
    position: relative;
  }
  
  p{
    animation-name: bright;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    text-align: center;
    font-size: 30px;
    
  }

  #img1{
      animation-name: razvorot-img1;
      animation-duration: 1s;
      animation-fill-mode:forwards;
  }
  #img2 {
    left: -160px;
    animation-name: razvorot-img2;
      animation-duration: 2s;
      animation-fill-mode:forwards;
  }
  #img3 {
    left: -310px;
    animation-name: razvorot-img3;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  #img4 {
    left: -460px;
    animation-name: razvorot-img4;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  