.grid{
    display: grid;
    text-align: left;
    grid-template-areas: 
    "div2 div3 div1"
    "div2 div4 div1";
    grid-template-rows: 350px;
    grid-auto-rows: 350px ;
    grid-template-columns: 1fr 1fr 50px  ;
    grid-gap: 10px;
    border: none;
}

div{
    border: 2px;
    border-color: black;
    border-style: solid;
}
.div1{
    grid-area: div1;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding-left: 15px;
    padding-top: 225px;
}

.div2{
    grid-area: div2;
}

.div3{
    grid-area: div3;
}

.div4{
    grid-area: div4;
}