.grid{
    display: grid;
    grid-template-columns: 200px 1fr 300px;
    grid-template-rows: 200px 400px 100px;
    grid-template-areas:
    "nav div1 div1"
    "nav div2 div3"
    "div4 div4 div4";
    grid-gap: 5px;
    border: none;
}

div, nav{
    border: black solid 2px;
}

a{
    color: black;
    text-decoration: none;
}

.nav{
    grid-area: nav;
    text-align: center;

}

.div1{
    grid-area: div1;  
    text-align: center; 
}

.div2{
    grid-area: div2;   
}

.div3{
    grid-area: div3;   
}

.div4{
    grid-area: div4;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

ul{
    list-style-type: disc;
}

