div{
    display: inline-block;
    font-size: 45px;
    margin: 10px 10px 10px 10px; 
    padding: 10px 10px 10px 10px;
    
}

span{
    display: inline-block;
    overflow: auto;

}

.zero{
    border: 4px;
    border-style:outset;
    border-color: rgb(255, 0, 0);
    border-right-width: 4px;
}
.first{
    border: 4px;
    border-style: dashed;
    border-color: rgb(0, 128, 0);
}

.second{
    border: 4px;
    border-style: dotted;
    border-color: rgb(0, 0, 255);
    
}

.third{
    border: 4px;
    border-style: double;
    border-color: rgb(22, 255, 251);
}

.fourth{
    border: 4px;
    border-style: groove;
    border-color: rgb(229, 18, 191);
}

.fifth{
    border: 4px;
    border-style:inset;
    border-color: rgb(253, 241, 7);
}

.sixth{
    border: 4px;
    border-style: solid;
    border-color: rgb(1, 8, 8);
}

#zero{
    background-color: #FFA500;
    margin: 5px 5px 5px 5px; 
    padding: 5px 5px 5px 5px;
    border: 4px;
    border-style: solid;
    border-color: #FF7F50;
    width: 400px;
    text-align: center;
}

#first{
    
        margin: 5px 5px 5px 5px; 
        padding: 5px 5px 5px 5px;
        border: 5px;
        border-style: solid;
        border-color: #FF4500;
        box-shadow: inset 2px 2px 8px 8px rgba(136, 0, 0, 0.5);
        border-radius: 20px/40px;
}

#second{
    background-color: #ffffff;
    margin-right: 2px;
    margin-bottom: 2px; 
    padding: 5px 5px 5px 5px;
    border: 4px;
    border-style: solid;
    border-color:#FF6347;
}