$black: black;

a,p,h1,h2,h3 {
    color:$black;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

.smallText {
    font-size: 14px;
}

.bigText {
    font-size: 20px;
}

main .text p{
    border-left: 1px solid black;
    padding: 0 5px 0 5px;
}